<h1>Stations Nearest Your Start and End Locations</h1>
<h2>Start: <%= @start.address %> &amp End: <%= @end.address %></h2> 

<div id="stations">
  <div id="station">
    <h3>Start Station:</h3>
    <p>Available Bikes: <%= @start_station_data['availableBikes'] %></p>
    <p>Distance from start location: <%= @start_stations.distance.round(2) %> miles</p>
  </div>
  <div id="station">
    <h3>End Station:</h3>
    <p>Available Docks: <%= @end_station_data['availableDocks'] %></p>
    <p>Distance from end location: <%= @end_stations.distance.round(2) %> miles</p>
  </div>
</div>

 



<!-- stick each station in a table with linked name, miles to, and link to get directions to that station from your current location  -->