<h1>Stations Nearest Your Start and End Locations</h1>
<% if flash[:notice] %>
  <div id='flash' class="error alert alert-danger" role="alert">
       <%= flash[:notice] %>
  </div>
<% end %>

  <div class="row">

    <!-- Start Stations Begins -->
    <div class="col-md-6">
       

             <form action="/directions" method="POST">
              <h3>Start Stations:</h3>
        <% @final_start_stations.each do |start_station| %>

        <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading"><input type="radio" name="[locations][start_station]" value="<%= "#{start_station[0].latitude} #{start_station[0].longitude}" %>" required>&nbsp; Location: <%= start_station[0].name %>
              </div>
              <div class="panel-body">


             

              <!-- Table -->
              <table class="table">
                <tr>
                  <td>Available Bikes:</td>
                  <td><%= start_station[1]['availableBikes'] %></td>
                  
                </tr>
                <tr>
                  <td>Distance from start location:</td>
                  <td><%= start_station[0].distance.round(2) %> miles</td>
                </tr>
              </table>
           </div><!-- end panel body -->
        </div><!-- end panel -->

        <% end %>
    </div><!-- end col-sm-4 -->


    <!-- End Station Begins -->
        <div class="col-md-6">
       

             <form action="/directions" method="POST">
              <h3>End Stations:</h3>
        <% @final_end_stations.each do |end_station| %>

        <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading"><input type="radio" name="[locations][end_station]" value="<%= "#{end_station[0].latitude} #{end_station[0].longitude}" %>" required>&nbsp; Location: <%= end_station[0].name %>
              </div>
              <div class="panel-body">
             

              <!-- Table -->
              <table class="table">
                <tr>
                  <td>Available Docks:</td>
                  <td><%= end_station[1]['availableDocks'] %></td>
                  
                </tr>
                <tr>
                  <td>Distance from end location:</td>
                  <td><%= end_station[0].distance.round(2) %> miles</td>
                </tr>
              </table>
           </div><!-- end panel body -->
        </div><!-- end panel -->

        <% end %>
    </div><!-- end col-sm-4 -->
</div><!--end of row-->
<div class="row">
  <div class="col-md-12">
    <input type="hidden" name="[locations][start]" value="<%= @start.address %>" />
    <input type="hidden" name="[locations][end]" value="<%= @end.address %>" />
     <button type="submit" value="Get Directions" class="btn btn-primary" style="display:block; width: 100%; margin-bottom: 200px;">Get Directions</button>
    <!-- <input type="submit" > -->
    </form>
  </div>
</div>



 



<!-- stick each station in a table with linked name, miles to, and link to get directions to that station from your current location  -->