<%= include_gon %>
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>CitiBike Finder</title>
     <link href="stylesheets/bootstrap2.min.css" rel="stylesheet" media="screen">
    <style>
      #map-canvas {
        height: 500px;
        margin: 0px;
        padding: 0px
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script>

    var mapCoors = gon.station_coors;
    var searchLocation = gon.search_location;

    function initialize() {

      var  coorsFinal = [];
      var searchLocationGoogle = new google.maps.LatLng(searchLocation["latitude"], searchLocation["longitude"]);

      for(var i=0; i<mapCoors.length; i++){
        var myLatlng = new google.maps.LatLng(mapCoors[i][0],mapCoors[i][1]);
        coorsFinal.push(myLatlng);
      };

      
      var mapOptions = {
        zoom: 16,
        center: searchLocationGoogle
      }
      var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

      var locationMarker = new google.maps.Marker({
          position: searchLocationGoogle,
          map: map,
          title: 'Your Location',
      });

    for (i = 1; i <= 6; i++) {
      var letter = String.fromCharCode("A".charCodeAt(0) + i - 1);

      var marker = new google.maps.Marker({
          position: coorsFinal[i-1],
          map: map,
          icon: "http://maps.google.com/mapfiles/marker" + letter + ".png"
      });
    }

    }

    google.maps.event.addDomListener(window, 'load', initialize);

    </script>
  </head>
  <body>
  <div class="container">
  <h1 style="margin-bottom: 50px;">Stations Nearest <%= @location.address %></h1>

    <div class="jumbotron">
      <div id="map-canvas"></div>
    </div>

        <% @final_stations.each do |station| %>
          <div class="col-sm-4">

            <div class="panel panel-default">
                  <!-- Default panel contents -->
                  <div class="panel-heading">
                    <%= station[2] + " - " + station[0].name %>
                  </div>
                  <div class="panel-body">
                 

                  <!-- Table -->
                  <table class="table">
                    <tr>
                      <td>Available Bikes:</td>
                      <td><%= station[1]['availableBikes'] %></td>
                      
                    </tr>
                    <tr>
                      <td>Available Docks:</td>
                      <td><%= station[1]['availableDocks'] %></td>
                      
                    </tr>
                    <tr>
                      <td>Distance from your location:</td>
                      <td><%= station[0].distance.round(2) %> miles</td>
                    </tr>
                  </table>
               </div><!-- end panel body -->
            </div><!-- end panel -->
          </div><!--end column -->
        <% end %>


  </div> <!--end container -->
  </body>
</html>

