<h1><%= @station.name %></h1>
<p>
  Station ID: <%= @station.station_id %>
</p>
<p>
  Total Docks: <%= @station.total_docks %>
</p>

<p>
  Status: <%= @station.status %>
</p>

<p>
 Available Bikes: <%= @station.available_bikes %>
</p>

<p>
  Available Docks: <%= @station.available_docks %>
</p>
