<h1><%= @station.name %></h1>
<p>
  <strong>Station ID:</strong> <%= @station.station_id %>
</p>
<p>
  <strong>Total Docks:</strong> <%= @station.total_docks %>
</p>

<p>
  <strong>Status:</strong> <%= @current_station_data['statusValue'] %>
</p>

<p>
 <strong>Available Bikes:</strong> <%= @current_station_data['availableBikes'] %>
</p>

<p>
  <strong>Available Docks:</strong> <%= @current_station_data['availableDocks'] %>
</p>
